html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(12, 12, 12);
  }
}
ul{
  font-weight: bold;
  text-align: center;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
ul:hover{
  transform: scale(0.95);
  text-shadow: 2px 2px #0070f3;
}